<img src="/assets/banner1.jpg" class="img-responsive">
<h1>Info</h1>
<p>Role-playing game editor is a tutorial app for Rails 4 beginners.</p>
<p>Autor: Slobodan Kovacevic</p>
<p>Student: Sinisa Soldatovic</p>